
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <ul>
        <li *ngIf="loadingIds" class="spinner-border" role="status"><span class="sr-only">Loading...</span></li>
        <li *ngFor="let id of mySpeechIds" (click)="updateSpeechId(id)">Speech {{id}}</li>
        
      </ul>
    </div>
    <div class="col-md-8">
      
      <div *ngIf="!speechIdClicked" class="spinner-border text-center" role="status"><span class="sr-only">Loading...</span>
      </div>
      <app-speech-content *ngIf="speechIdClicked" [disableControls]="false" [speechId]="speechIdClicked" [events]="eventsSubject.asObservable()" (editedSpeech)="editedSpeech($event)"></app-speech-content>
      <div class="row">
          <div class="col-md-4 btnm">
              <button type="button" class="btn btn-primary">Delete</button>
          </div>
          <div class="col-md-4 btnm">
              <button type="button " class="btn btn-primary" (click)="save()">Save  </button>
              <div *ngIf="savingSpeech" class="spinner-border text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="col-md-4 btnm">
              <button type="button " class="btn btn-primary">Share </button>
          </div>
      </div>  
    </div>
  </div>

</div>