
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li *ngIf="loadingIds" class="spinner-border" role="status"><span class="sr-only">Loading...</span></li>
        <li *ngFor="let id of mySpeechIds" (click)="updateSpeechId(id)">Speech Id: {{id}}</li>
        <li>Speech 2</li>
        <li>Speech 3</li>
        <li (click)="addMessage()">Add Speech</li>
      </ul>
    </div>
    <div class="col-md-8">
      
      <div *ngIf="!speechIdClicked" class="spinner-border text-center" role="status"><span class="sr-only">Loading...</span>
      </div>
      <app-speech-content *ngIf="speechIdClicked" [speechId]="speechIdClicked" [events]="eventsSubject.asObservable()"></app-speech-content>   
    </div>
  </div>

</div>