
<div class="container-fluid no-padding">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="mySpeeches" routerLinkActive="active">My Speeches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="newSpeech" routerLinkActive="active">Submit a new Speech</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="searchSpeeches" routerLinkActive="active">Search all Speeches</a>
            </li>
          </ul>
        </div>
      </nav>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>