
<div class="container-fluid no-padding">
      <div class="jumbotron text-center">
          <h1 class="display-4">Welcome</h1>
          <p class="lead">Welcome to the central speech sharing platform where you can add, edit, delete and share your speech.</p>
          <hr class="my-4">
          <p class="text-success text-center h4">Features</p>
            <p>View all your speeches saved in the system. You can see your speeches and edit them, delete them and share.</p>
            <p>Add a speech to the system. For this you have to enter speech text, author name, keywords of the speech.</p>
            <p>The ability to search the speeches. You will be able to search through author name, speech keywords, speech date</p>
            <br><br>
          <p class="lead">
            <a class="btn btn-primary btn-lg" routerLink="/speeches" role="button">Central Speech Sharing</a>
          </p>
          <br><br><br><br><br>
        </div>
</div>
